# Supabase Configuration
# Copie este conteúdo para um arquivo chamado .env.local na raiz do projeto

NEXT_PUBLIC_SUPABASE_URL=https://yrhjyeyyiatsxwfrvchz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyaGp5ZXl5aWF0c3h3ZnJ2Y2h6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3MDMzMDEsImV4cCI6MjA3ODI3OTMwMX0.Pqz2A7rRVIrbKCxb5tUH6kxJuUgNrb3PHtV9XT63rKQ
SUPABASE_SERVICE_ROLE_KEY=COLE_AQUI_A_SERVICE_ROLE_KEY

